.vaccination-coverage-container {
  background-color: #1c1c2b;
  padding: 30px;
}

.vaccination-heading {
  color: #94a3b8;
  margin-bottom: 20px;
  font-size: 28px;
}

.barchart {
  background-color: #1c1c2b;
}

.bar-radius {
  border-radius: 8px 8px 0 0;
}
